In [28]:
import requests
import pandas as pd

In [29]:
#załadowanie url
url='http://api.citybik.es/v2/networks/velib'
response=requests.get(url)

In [30]:
#Sprawdzenie odpowiedzi z url
if response.status_code != 200:
    print("Request failed. Status code:", response.status_code)
else:

    data = response.json()
    
#Ekstra detale
    stations = data['network']['stations']

In [31]:
#listy na dane
name = []
latitudes = []
longitudes = []
num_empty_slots_list = []
num_free_bike_list = []
e_bikes = []
payment_terminal = []
banking = []
renting = []
returning = []

In [32]:
#dodanie danych do list
for station in stations:
    name.append(station['name'])
    latitudes.append(station['latitude'])
    longitudes.append(station['longitude'])
    num_empty_slots_list.append(station.get('empty_slots', 0))
    num_free_bike_list.append(station.get('free_bikes', 0))
    e_bikes.append(station['extra'].get('ebikes', 0))
    payment_terminal.append(station['extra'].get('payment-terminal', False))
    banking.append(station['extra'].get('banking', False))
    renting.append(station['extra'].get('renting', False))
    returning.append(station['extra'].get('returning', False))

In [33]:
#Utworzenie ramki danych
df = pd.DataFrame({
        'Station Name': name,
        'Latitude': latitudes,
        'Longitude': longitudes,
        'Number of empty slots': num_empty_slots_list,
        'Number of free bikes': num_free_bike_list,
        'Number of e-bikes': e_bikes,
        'Payment terminal': payment_terminal,
        'Banking': banking,
        'Now renting': renting,
        'Now returning': returning
    })

df

,Station Name,Latitude,Longitude,Number of empty slots,Number of free bikes,Number of e-bikes,Payment terminal,Banking,Now renting,Now returning
0,Benjamin Godard - Victor Hugo,48.865983,2.275725,34,1,0,False,False,1,1
1,André Mazet - Saint-André des Arts,48.853756,2.339096,12,42,18,True,True,1,1
2,Faubourg Du Temple - Republique,48.867872,2.364898,8,29,11,True,True,1,1
3,Beaux-Arts - Bonaparte,48.856452,2.334852,10,10,4,True,True,1,1
4,Toudouze - Clauzel,48.879296,2.337360,18,2,2,True,True,1,1
...,...,...,...,...,...,...,...,...,...,...
1449,Leroy des Barres - Médiathèque,48.928254,2.368172,16,10,5,True,True,1,1
1450,Suzanne Masson,48.923307,2.384729,21,16,9,True,True,1,1
1451,François 1er - Montaigne,48.866888,2.306676,43,9,7,True,True,1,1
1452,Porte Maillot - Perreire,48.878021,2.284237,17,34,13,True,True,1,1
1453,Porte Dauphine,48.871139,2.274978,61,1,1,True,True,1,1